{% extends 'base.html.twig' %}

{% block title %}Verify Email{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light mt-4 p-4">
                <h1 class="font-weight-normal h3 mb-3">Verify Your Email</h1>
                <p>
                    A Verification email has been sent to your email address. Please check your inbox and click the link in the email to verify your account.
                </p>

                <a href="#" class="btn btn-primary">Re-send Email</a>
            </div>
        </div>
    </div>
{% endblock %}